.landing {
  display: flex;
  margin-top: 20px;
  padding: 30px;
  align-content: center;
  align-items: flex-start;
  gap: 20px;
  background-color: #00000014;
  border-radius: 20px 20px 0 0;
  min-width: 86vw;
  justify-content: center;
}

.one {
  position: relative;
  width: 86vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  filter: grayscale(50%);
  border-radius: 0 0 20px 20px;
}

.one::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../upload/page/bg.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
  border-radius: 0 0 20px 20px;
}

.one h2 {
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

.one .p {
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-left: 50px;
  filter: drop-shadow(0 0 0.6px rgb(0, 0, 0));
}

/* slideshow */
.slideshow-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.mySlides {
  display: none;
}

.dot {
  transition: all 0.5s ease-in-out;
  height: 11px;
  width: 11px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border: 0.1px solid rgba(0, 0, 0, 0.34);
}

.active {
  background-color: #333333d2;
  width: 50px;
  border-radius: 30px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}







.update {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 4vw;
  flex-direction: row;
}

.update select {
  padding: 1vh;
}

.update input {
  padding: 1vh;
}

.output {
  border: solid rgba(0, 0, 0, 0.288) 1px;
  border-radius: 10px;
  min-width: 20vw;
  min-height: 20vh;
  display: flex;
  padding: 50px;
  margin: 50px;
  gap: 50px;
}

.event-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 200px;
}

.event-card h3 {
  margin-top: 0;
  color: #333;
  font-size: 1.2rem;
}

.event-card p {
  margin: 10px 0;
  color: #666;
  font-size: 1rem;
}

.event-card p strong {
  font-weight: bold;
}

.event-info {
  background-color: #e9f5fa;
  padding: 10px;
  border-radius: 5px;
}

.event-warning {
  background-color: #fdf2cf;
  padding: 10px;
  border-radius: 5px;
}

.event-danger {
  background-color: #f8d7da;
  padding: 10px;
  border-radius: 5px;
}

.event-success {
  background-color: #d4edda;
  padding: 10px;
  border-radius: 5px;
}

.event-info p,
.event-warning p,
.event-danger p,
.event-success p {
  margin: 5px 0;
}

.event-title {
  font-weight: bold;
  color: #007bff;
}