
.wrapper {
    max-width: 500px;
    margin: 0 auto;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 70px auto;
}

#w1 img {
    max-width: 200px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.btn-upload-img {
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color: var(--primary);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.btn-save {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.btnsave {
    background-color: var(--primary);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.border {
    padding-bottom: 10px;
}

.weditimg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weform {
    margin-top: 25px;
}